* {
    font-family: Garamond, serif;
}

/* Parent container for page */
.container {
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Page title */
h1 {
    width: 100vw;
    
}

/* Train half of page (left hand side) */
.left {
    width: 48vw;
    height: 112.5vh;
    border: 1px solid black;
    margin-right: 0.5vw;
}

p {
    font-size: 1.25em;
}

.chooseFile::-webkit-file-upload-button {
    visibility: hidden;
}

.chooseFile {
    display: inline-block;
    color: black;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    margin: 2%;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 8%;
}

.submit {
    cursor: pointer;
    background-color: #323131;
    color: white;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 1% 2%;
    font-weight: 700;
    font-size: 10pt;
    margin: 2%;
    width: 20%;
}

.empty {
    color: red;
}

.ready {
    background-color: rgb(7, 90, 7);
}

/* Results half of page (right hand side) */
.right {
    width: 48vw;
    height: fit-content;
    min-height: 112.5vh;
    border: 1px solid black;
    margin-left: 0.5vw;
}

.right > .row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#subfolders {
    margin: 2%;
}

button.subfolders {
    width: 10vw;
    height: 10vh;
    background-color: black;
    color: white;
    margin: 2%;
    cursor: pointer;
    font-size: 1.25em;
}

.images {
    width: 40vw;
    height: 65vh;
}

.images > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.buttons {
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5%;
}

.buttons > form {
    display: grid;
    margin: 5%;
    margin-top: 0;
    margin-bottom: 0;
}

.buttons > form > button {
    padding: 5%;
    width: 10vw;
    height: 5vh;
    font-size: 1.25em;
    background-color: black;
    color: white;
    border: 1px solid black;
    cursor: pointer;
}