<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classifier App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css')}}" />
</head>
<body>
    <!-- This is the container for the whole page -->
    <div class="container">
        <h1>Animal Classifier App</h1>
        <!-- This is the "Train" half of the page -->
        <div class="left">
            <h2>Train</h2>
            <form method="post" enctype="multipart/form-data">
                <input type="file" name="file">
                <br>
                <input type="submit" value="Upload"><br>
            </form>

            <form action="{{url_for('getVals')}}" method="post" enctype="multipart/form-data">
                <input type="checkbox" id="boundingBox" name="boundingBox" value="boundingBox">
                <label for="boundingBox">Include Bounding Box</label>
                <br>
                <input type="submit" value="Process Images"><br>
            </form>
        </div>
        <!-- This is the "Results" half of the page -->
        <div class="right">
            <h2>Results</h2>
        </div>
    </div>
</body>
</html>