<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classifier App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css')}}" />
</head>
<body>
    <!-- This is the container for the whole page -->
    <div class="container">
        <h1>Animal Classifier App</h1>
        <!-- This is the "Train" half of the page -->
        <div class="left">
            {% if current_img %}
            <h2>STATS</h2>
            <h3>ANIMAL: {% if animal %} {{animal}} {% endif %}</h3>
            <h3>CONFIDENCE SCORE: {% if confidence_score %} {{confidence_score}} {% endif %}</h3>
            <h3>BOUNDING BOX COORDINATES: {% if box_coordinates_normalised %} {{box_coordinates_normalised}} {% endif %}</h3>
            <h3>IMAGE FILENAME: {% if image_filename %} {{image_filename}} {% endif %}</h3>
            {% else %}
            <h2>Process Images</h2>
            <form method="post" action="{{url_for('uploadFiles')}}" enctype="multipart/form-data">
                <p>Select files for processing:</p>
                <input type="file" name="files" directory multiple class="chooseFile">
                <p>If you have manually added images to the uploads folder, go ahead and hit 'Process Images'.</p>
                <input type="submit" value="Upload" class="submit">
                <br>
            </form>

            {% if empty %}
            <h3 class="empty">There are no images in the upload folder for processing.</h3>
            {% endif %}
            {% if ready %}
            <h3>Ready to process uploaded images</h3>
            {% endif %}
            <form method="post" action="{{url_for('predict')}}" enctype="multipart/form-data">
                <input type="submit" value="Process Images" class="submit {{'ready' if ready}}"><br>
            </form>

            {% if complete %}
            <h3>Processing Complete</h3>
            {% endif %}

            {% endif %}
        </div>
        <!-- This is the "Results" half of the page -->
        <div class="right">
            <h2>Results</h2>
            {% if not subfolders and not current_img %}
            <form method="post" action="{{url_for('view')}}" enctype="multipart/form-data">
                <button class="submit" type="submit">View results from previous sessions</button>
            </form>
            {% endif %}
            <div class="row">
                {% if subfolders %}
                
                {% for folder in subfolders %}
                    <form id="subfolders" method="post" action="{{ url_for('display')}}">
                        <button class="subfolders" type="submit">{{ folder }}</button>
                        <input type="hidden" name="subfolder" value="{{ folder }}" />
                    </form>
                {% endfor %}
                
                {% endif %}

                {% if current_img %}
                <div class="buttons">
                    <form method="post" action="{{ url_for('back')}}">
                        <button class="back" type="submit">Back to folders</button>
                    </form>
                    <form method="post" action="{{url_for('previous')}}">
                        <button id="previous" name="previous_img" type="submit">Previous Img</button>
                    </form>
                    <form method="post" action="{{url_for('next')}}">
                        <button id="next" name="next_img" type="submit">Next Img</button>
                    </form>
                </div>
                <div class="images">
                    <img src="{{ current_img }}"></img>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>